<h1>Assinaturas</h1>
<%= link_to "Nova Assinatura", new_signature_path %>
<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Plano / Pacote</th>
      <th>Serviços adicionais</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @signatures.each do |signature| %>
      <tr>
        <td><%= signature.customer.name %></td>

        <td>
          <% if signature.plan.present? %>
            Plano: <%= signature.plan.name %>
          <% elsif signature.package.present? %>
            Pacote: <%= signature.package.name %>
          <% else %>
            Não especificado
          <% end %>
        </td>

        <td>
          <% if signature.additional_services.any? %>
            <ul>
              <% signature.additional_services.each do |service| %>
                <li><%= service.name %></li>
              <% end %>
            </ul>
          <% else %>
            Nenhum
          <% end %>
        </td>

        <td><%= l signature.created_at, format: :short %></td>

        <td>
          <%= link_to "Ver", signature_path(signature) %>
          <%= button_to "Excluir", signature_path(signature), method: :delete, data: { turbo_confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <li>
    <%= link_to "Novo plano", new_plan_path %>
  </li>
  <li>
    <%= link_to "Novo serviço adicional", new_additional_service_path %>
  </li>
  <li>
    <%= link_to "Novo pacote", new_package_path %>
  </li>
  <li>
    <%= link_to "Novo cliente", new_customer_path %>
  </li>
</div>
