<h1>Assinatura de <%= @signature.customer.name %></h1>

<p>
  Tipo: 
  <%= @signature.plan ? "Plano - #{@signature.plan.name}" : "Pacote - #{@signature.package.name}" %>
</p>

<p>Serviços Adicionais:</p>
<ul>
  <% @signature.additional_services.each do |s| %>
    <li><%= s.name %> - R$ <%= s.price %></li>
  <% end %>
</ul>

<p>
  <%= link_to "View Payment Book", payment_book_signature_path(@signature) %> |
  <%= link_to "View Invoices", invoices_signature_path(@signature) %> |
  <%= link_to "View Bills", bills_signature_path(@signature) %>
</p>

<%= link_to "Back", signatures_path %>
